name: Tests
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install --frozen-lockfile
      - run: bun run build
      - name: Setup git
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "<>"
      - run: bun run test
